body {
    background-color: white;
}

@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

.principal
{
position:absolute;
background-color:#ffffff;
height:100%;
width:100%;
padding:0px;
}
.rectangle1
{
background-color:#eeda83;
height:100%;
width:100%;
position:absolute;
top:0px;
left:0px;
}
.rectangle2
{
background-color:#dcb342;
height:52px;
width:114px;
border-radius:34px;
left:289px;
top:868px;
position:absolute;
}
.button
{
color: #000000;
text-align:center;
background-color: transparent;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:299px;
top:879px;
width:93px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle22
{
background-color:#dcb342;
height:52px;
width:114px;
border-radius:34px;
top:868px;
left:25px;
position:absolute;
}
.send
{
color:#000000;
background-color: transparent;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:51px;
top:879px;
width:61px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle3
{
background-color:#dcb342;
height:76px;
width:292px;
border-radius:17px;
top:482px;
left:69px;
position:absolute;
}
.bani
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:50px;
font-family:Imprima;
left:28px;
top:490px;
width:319px;
height:89px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.camex
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:70px;
font-family:IBM Plex Sans Thai;
left:89px;
top:23px;
width:252px;
height:52px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.vector
{
height:93.85314178466797px;
width:129.95050048828125px;
left:145.57px;
top:365.53px;
position:absolute;
}
.vector2
{
background-color:#000000;
height:7.2194719314575195px;
width:7.2194719314575195px;
left:239.42px;
top:408.84px;
position:absolute;
}
.vector3
{
height:38.96977996826172px;
width:108.29207611083984px;
left:145.57px;
top:341px;
position:absolute;
}
.vector4
{
height:14.700002670288086px;
width:14.700002670288086px;
left:214.49px;
top:878.79px;
position:absolute;
}
.vector5
{
height:49px;
width:49px;
left:190px;
top:869px;
position:absolute;
}
.group9
{
width:87px;
height:73px;
left:171px;
top:859px;
position:absolute;
}
.vector6
{
height:87px;
width:73px;
width:73px;
height:87px;
left:258px;
top:932px;
width:73px;
height:87px;
position:absolute;
}

.camel
{
color:#733434;
text-align:center;
vertical-align:text-middle;
font-size:40px;
font-family:Inter;
line-height:auto;
border:86px solid #933535;
width:183px;
}
